In [33]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
train=pd.read_csv('../input/train.csv')
test=pd.read_csv('../input/test.csv')
test.head()

['test.csv', 'train.csv', 'gender_submission.csv']

   PassengerId  Pclass   ...    Cabin Embarked
0          892       3   ...      NaN        Q
1          893       3   ...      NaN        S
2          894       2   ...      NaN        Q
3          895       3   ...      NaN        S
4          896       3   ...      NaN        S

[5 rows x 11 columns]

In [34]:
test_one=test.copy()
test_one['Survived']=0
test_one['Survived'][test_one['Sex']=='female']=1
test_one['Survived'][test_one['Sex']=='male']=0
test_one.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   PassengerId  Pclass   ...    Embarked Survived
0          892       3   ...           Q        0
1          893       3   ...           S        1
2          894       2   ...           Q        0
3          895       3   ...           S        0
4          896       3   ...           S        1

[5 rows x 12 columns]

In [36]:

submission=pd.DataFrame({
    "PassengerId":test_one['PassengerId']
})
submission["Survived"]=test_one['Survived']
submission.head()
submission.to_csv('submission.csv',index=False)